.modi {
    background-color: red;
}

.ns {
    background-color: blue;
}

.rahul {
    background-color: yellow
}

;


.pk {
    background-color: aqua;
}

.nayana {
    background-color: brown;
}

#vijay {
    background-color: chartreuse;
}